/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Manufacturing+Consent&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
//Fonts
$EB-Garamond: "EB Garamond", serif;
$Medieval: "Manufacturing Consent", system-ui;
$Cinzel: "Cinzel Decorative", serif;

// Colors
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;
$light-coral: #F08080;
$BurlyWood: #DEB887;
$DarkGoldenRod: #B8860B;
$MidnightBlue: #191970;
$Linen: #FAF0E6;
$Ivory: #FFFFF0;
$DarkerGray: #3A3A3A;
$Cowboy: #C49E62;
$Byzantine: #2C2A4A;
$IDK: #E0D6C0;
$WarmTaupe: #7E6C5F;

// Base document colors
$navbar-bg: $Cowboy; // navbar
$navbar-fg: $Ivory; // navbar foreground elements
$navbar-hl: $MidnightBlue; // highlight color when hovering over navbar links
$body-bg: $Linen; // page background 
$body-color: $DarkerGray; // page text 
$footer-bg: $WarmTaupe; // footer 
$link-color: olive; // hyperlinks

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color

/*-- scss:rules --*/
.title {
  font-family: $EB-Garamond;
  font-size: 45px;
}

.formal {
  font-family: KJV1611;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
}

.verse {
  font-family: $Cinzel;
}

.date{
  font-family: Times New Roman;
}
